<nb-card>

  <nb-alert *ngIf="showFailureResponseNotification" status="danger" closable (close)="onHideNotification()">
      {{responseMessage}}
  </nb-alert>

  <nb-alert *ngIf="showSuccessResponseNotification" status="success" closable (close)="onHideNotification()">
      Saved Successfully
  </nb-alert>

  <nb-alert *ngIf="showFillMandetoryValidation" status="danger" closable (close)="onHideNotification()">
      Fill All the required Fields
  </nb-alert>

  <nb-card-header>Counselor Creation
      <button type="button" style="float:right" class="btn btn-hero-primary btn-demo" (click)="saveCouchingCenter()">Save</button>

  </nb-card-header>
  <nb-card-body>
      






          <div class="form-group row">
              <label class="col-sm-2 form-control-label"><strong>Center</strong> </label>
              <div class="col-sm-4">
                  <!-- <p-autoComplete [style]="{'width':'100%'}"   [(ngModel)]="country" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)" field="name" [size]="30"
              placeholder="Center" [minLength]="1"></p-autoComplete> -->

                  <p-dropdown [(ngModel)]="selectedCenterId" name ="selectedCenterId"  placeholder="select" [style]="{'width':'100%','line-height': '30px'}"
                      [options]="centerList" dataKey="centerSeq" optionLabel="centerId" (onChange)="getCenterDetails()"></p-dropdown>
              </div>
          </div>


          <div style="height:110px;"></div>








        


                  <form class="form-horizontal ng-untouched ng-pristine ng-valid" [formGroup]="couchingCenterForm">






                      <div *ngIf="false" class="form-group row">
                          <label class="col-sm-3 form-control-label">Center Id<span class="requiredSymbol">*</span></label>
                          <div class="col-sm-5">
                              <input (blur)="checkCenterAlreadyExistWhileCreation()" class="form-control" placeholder="Center Id"
                                  required type="text" pInputText formControlName="centerId" name="centerId" />
          
          
          
                          </div>
                      </div>
          
          
          
          
                      <div  *ngIf="false" class="form-group row">
          
                          <label class="col-sm-3 form-control-label">Phone<span class="requiredSymbol">*</span></label>
                          <div class="col-sm-3">
                              <input maxlength="10" onlynumber="true" required placeholder="Phone" class="form-control" type="text"
                                  formControlName="phone" pInputText name="phone" />
                          </div>
          
          
                      </div>
          
          
                      <div  *ngIf="false" class="form-group row">
          
                          <label class="col-sm-3 form-control-label">Postal Address<span class="requiredSymbol">*</span></label>
                          <div class="col-sm-5">
                              <textarea [rows]="5" style="width:100%" placeholder="Address" class="form-control" autoResize="true"
                                  pInputTextarea formControlName="postalAddress" name="postalAddress"></textarea>
                          </div>
          
          
                      </div>
          
          
                      <div class="form-group row">
          
                          <label class="col-sm-3 form-control-label" style="font-size: 17px;"><strong>Counselors</strong></label>
          
          
          
                      </div>
          
          
          
                      <nb-card>
                          <nb-card-header>
          
          
                              <div class="col-md-12  form-group">
                                  <div>
                                      <div class="row">
                                          <div class="col-md-3">
                                              <label style="display:block"><strong>Counceler Name<span class="requiredSymbol">*</span></strong></label>
          
                                          </div>
                                          <div class="col-md-2">
                                              <label style="display:block"><strong>User Id<span class="requiredSymbol">*</span></strong></label>
          
                                          </div>
                                          <div class="col-md-2">
                                              <label style="display:block"><strong>Password<span class="requiredSymbol">*</span></strong></label>
          
                                          </div>
                                          <div class="col-md-2">
                                              <label style="display:block"><strong>Center Head</strong></label>
          
                                          </div>
                                          <div class="col-md-2">
                                              <label style="display:block"><strong>Active</strong></label>
          
                                          </div>
                                          <div class="col-md-1">
          
                                              <button type="button" class="btn btn-hero-primary btn-demo" style=" float:right;"
                                                  (click)="addNewCouncelor()"><i class="fa fa-plus"></i></button>
                                          </div>
          
                                      </div>
                                  </div>
                              </div>
                          </nb-card-header>
          
          
                          <nb-card-body>
          
          
                              <div class="row">
          
                                  <div class="col-md-12  form-group" >
          
                                      <div style="margin-top:7px;" formArrayName="councellors" *ngFor="let item of councellorFormArray.controls; let i = index;">
          
          
          
                                          <div [formGroupName]="i">
                                              <div class="row">
                                                  <div class="col-md-3">
          
                                                      <input placeholder="Name" class="form-control" pInputText formControlName="userName">
                                                  </div>
                                                  <div class="col-md-2">
          
                                                      <input placeholder="User id" class="form-control" pInputText
                                                          formControlName="userId">
          
          
                                                  </div>
                                                  <div class="col-md-2">
          
                                                      <input placeholder="Password" class="form-control" pInputText
                                                          formControlName="password">
                                                  </div>
                                                  <div class="col-md-2">
          
                                                      <p-toggleButton class="form-control" formControlName="isCenterHead" name="isCenterHead"
                                                          onLabel="Yes" offLabel="No" onIcon="pi pi-check" offIcon="pi pi-times"
                                                          [style]="{'width':'80px'}"></p-toggleButton>
                                                  </div>
          
                                                  <div class="col-md-2">
          
                                                      <p-toggleButton class="form-control" formControlName="isActive" name="isActive"
                                                          onLabel="Yes" offLabel="No" onIcon="pi pi-check" offIcon="pi pi-times"
                                                          [style]="{'width':'80px'}"></p-toggleButton>
                                                  </div>
          
          
                                                  <div class="col-md-1">
                                                      <button *ngIf="couchingCenterForm.get('councellors').controls[i].get('userName').value =='' && 
                                                  couchingCenterForm.get('councellors').controls[i].get('userId').value =='' && 
                                                  couchingCenterForm.get('councellors').controls[i].get('password').value =='' &&
                                                  couchingCenterForm.get('councellors').controls[i].get('userSeq').value ==undefined"
                                                          type="button" class="btn btn-danger" style=" float:right;" (click)="removeSelectedCounselor(i)">
                                                          <i class="fa fa-minus"></i></button>
          
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
          
          
          
          
          
                                  </div>
          
          
          
          
                              </div>
          
          
                          </nb-card-body>
                      </nb-card>
          
          
                  </form>


            


     
  </nb-card-body>
</nb-card>