<nb-card>

    <nb-alert *ngIf="showFailureResponseNotification" status="danger" closable (close)="onHideNotification()">
        {{responseMessage}}
    </nb-alert>

    <nb-alert *ngIf="showCenterDuplicateError" status="danger" closable>
        {{responseMessage}}
    </nb-alert>

    <nb-alert *ngIf="showSuccessResponseNotification" status="success" closable (close)="onHideNotification()">
        Saved Successfully
    </nb-alert>

    <nb-alert *ngIf="showFillMandetoryValidation" status="danger" closable (close)="onHideNotification()">
        Fill All the required Fields
    </nb-alert>


    <nb-card-header>Add Project
        <button type="button" style="float:right" class="btn btn-hero-primary btn-demo" (click)="saveCouchingCenter()">Save</button>

    </nb-card-header>
    <nb-card-body>
        <form class="form-horizontal ng-untouched ng-pristine ng-valid" [formGroup]="projectForm">



            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Project Name<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <input   required placeholder="Project Name" class="form-control" type="text"
                        formControlName="projectName" pInputText name="projectName" />
                </div>


            </div>


            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Description<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <input  required placeholder="Description" class="form-control" type="text"
                        formControlName="projectName" pInputText name="Description" />
                </div>


            </div>


            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Client Information<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <textarea [rows]="5" style="width:100%" placeholder="Client Information" class="form-control" autoResize="true"
                        pInputTextarea formControlName="clientInformation" name="clientInformation"></textarea>
                </div>


            </div>

            
            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Total Amount<span class="requiredSymbol">*</span></label>
                <div class="col-sm-3">
                    <input   required placeholder="Total Amount" class="form-control" type="text"
                        formControlName="projectAmount" pInputText name="projectAmount" />
                </div>


            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Start Date </label>
                <div class="col-sm-3">
                  <p-calendar  dateFormat="dd/mm/yy" formControlName="fromDate" [showIcon]="true"></p-calendar>
                </div>

                <label class="col-sm-2 col-form-label">Duration In Month</label>
                <div class="col-sm-3">
                    <input  required placeholder="No of Month(s)" class="form-control" type="text"
                    formControlName="projectDurationInMonths" pInputText name="Description" />
                </div>
              </div>
          



            


        </form>
    </nb-card-body>
</nb-card>

<nb-alert *ngIf="showSuccessResponseOnCourseUpdate" status="success" closable (close)="onHideNotification()">
    Saved Successfully
</nb-alert>


<nb-alert *ngIf="showFailureResponseOnCourseUpdate" status="danger" closable (close)="onHideNotification()">
    {{responseMessage}}
</nb-alert>


