<nb-card>

    <nb-alert *ngIf="showresponseResponseNotification" status="success" closable (close)="showresponseResponseNotification = false">
        {{responseMessage}}
    </nb-alert>

   

    <nb-alert *ngIf="showFillMandetoryValidation" status="danger" closable (close)="onHideNotification()">
        Fill All the required Fields
    </nb-alert>


    <nb-card-header>{{title}} Project
            <button  type="button" style="float:right;margin-left:20px;" class="btn btn-hero-primary btn-demo" (click)="saveProject()">Save</button>
            <button *ngIf="isEditPage" type="button" style="float:right" class="btn btn-hero-primary btn-demo" (click)="addPayment()">Add Payment</button>
     

    </nb-card-header>
    <nb-card-body>
        <form class="form-horizontal ng-untouched ng-pristine ng-valid" [formGroup]="projectForm">



            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Project Name<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <input   required placeholder="Project Name" class="form-control" type="text"
                        formControlName="projectName" pInputText name="projectName" />
                </div>


            </div>


            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Description<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <input  required placeholder="Description" class="form-control" type="text"
                        formControlName="description" pInputText name="Description" />
                </div>


            </div>


            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Client Information<span class="requiredSymbol">*</span></label>
                <div class="col-sm-6">
                    <textarea [rows]="5" style="width:100%" placeholder="Client Information" class="form-control" autoResize="true"
                        pInputTextarea formControlName="clientInformation" name="clientInformation"></textarea>
                </div>


            </div>

            
            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Total Amount<span class="requiredSymbol">*</span></label>
                <div class="col-sm-3">
                    <input  onlynumber='true'  required placeholder="Total Amount" class="form-control" type="text"
                        formControlName="projectAmount" pInputText name="projectAmount" />
                </div>


            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Start Date </label>
                <div class="col-sm-3">
                  <p-calendar  dateFormat="dd/mm/yy" formControlName="startDate" [showIcon]="true"></p-calendar>
                </div>

                <label class="col-sm-2 col-form-label">Duration In Month</label>
                <div class="col-sm-3">
                    <input onlynumber='true' placeholder="No of Month(s)" class="form-control" type="text"
                    formControlName="projectDurationInMonths" pInputText name="Description" />
                </div>
              </div>
          



            


        </form>
    </nb-card-body>
</nb-card>




