<div class="row">


  <nb-alert *ngIf="showPasswordUpdateFailed" status="danger" closable (close)="showPasswordUpdateFailed = false ">
   {{errorMessage}}
  </nb-alert>



  <nb-alert *ngIf="showPasswordUpdateSuccess" status="success" closable (close)="showPasswordUpdateSuccess = false">
    Saved Successfully
  </nb-alert>

  <div _ngcontent-c56="" class="col-md-6">
    <nb-card _ngcontent-c56="" _nghost-c22="">
      <nb-card-header _ngcontent-c56="">Password Update</nb-card-header>
      <nb-card-body _ngcontent-c56="">
        <form _ngcontent-c56="" novalidate="" class="ng-untouched ng-pristine ng-valid">
          <div _ngcontent-c56="" class="form-group"><label _ngcontent-c56="" for="exampleInputEmail1">Old Password</label><input
              _ngcontent-c56="" class="form-control" id="oldPassword" name="oldPass" [(ngModel)]= 'oldPassword' placeholder="Old Password" type="text"></div>
          <div _ngcontent-c56="" class="form-group"><label _ngcontent-c56="" for="exampleInputPassword1">New Password</label><input
              _ngcontent-c56="" class="form-control" id="newPassword" name="newPass" [(ngModel)]= 'newPassword' placeholder="New Password" type="text"></div>

          <div style="text-align:center">
            <button type="button" class="btn btn-primary" (click)="updatePassword()">Update</button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

  </div>



</div>